# Weather Service Configuration
NODE_ENV=development
PORT=3002

# External Weather API
WEATHER_API_KEY=a4282d3f72d247e2bef141459251805
WEATHER_API_URL=http://api.weatherapi.com/v1

# Redis Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
CACHE_TTL=300

# Logging
LOG_LEVEL=info
